@import "../../assets/styles/variable";

.post-method {
    margin: 140px auto 0px;
    text-align: center;

    .heading {
        @media (max-width: ($md2 + px)) {
            margin: 0px 60px;
        }

        @media (max-width: ($md3 + px)) {
            margin: 0px 32px;
        }

        @media (max-width: ($md4 + px)) {
            margin: 0px 16px;
        }
    }
}

.form {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 100%;

    &__input-info {
        width: 100%;
        height: 54px;
        padding: 0 16px;
        margin: 50px 0 0;
        border: 1px solid #d0cfcf;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: $bgColor;
        box-sizing: border-box;
    }

    &__checkbox-container {
        text-align: left;
        margin: 43px 0 0;

        p {
            margin: 0 0 11px;
        }

        input {
            margin: 0 12px 0 0;
        }

        div {
            display: flex;
            align-items: center;
            margin: 0 0 7px;
        }
    }

    &__upload {
        margin: 38px 0 49px;
        display: flex;

        button,
        input {
            height: 54px;
        }

        button {
            border: 1px solid rgba(0, 0, 0, 0.87);
            box-sizing: border-box;
            border-radius: 4px 0px 0px 4px;
            padding: 0 15px;
            &.error {
                border: 2px solid #cb3d40;
            }
        }

        input {
            flex: 1;
            opacity: 0;
            position: absolute;
            z-index: 1;
            cursor: pointer;
        }

        label {
            flex: 1;
            padding: 14px 16px 12px;
            border: 1px solid #d0cfcf;
            box-sizing: border-box;
            border-radius: 0px 4px 4px 0px;
            align-items: center;
            text-align: left;
            color: #7e7e7e;
        }
    }

    &__btn-singUp {
        margin: 0 auto;
    }
}

input[type="radio"],
label {
    cursor: pointer;
}

input[type="radio"] {
    position: relative;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid $secondaryColor;
}

input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $secondaryColor;
    transform: translate(-50%, -50%);
    visibility: visible;
}

input:invalid {
    border: 1px solid #cb3d40;
}