@import "../../assets/styles/variable";

.App {
    padding: 0 0 100px;

    input {
        outline: none;

        &.error {
            border: 2px solid #cb3d40;
        }
    }
}

.button {
    background-color: $primaryColor;
    padding: 4px 0px;
    width: 100px;
    border-radius: 80px;
    &:hover {
        background-color: #ffe302;
    }

    &.button_show-more {
        width: 120px;
    }

    &.button_disabled {
        background-color: #b4b4b4;
    }
}

.heading {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}

._container {
	max-width: $maxWidthContainer + px;
	width: 100%;
	margin: 0 auto;
	
	@media (max-width: ($md2 + px)) {
		max-width: 1024px;
	}
	@media (max-width: ($md3 + px)) {
		max-width: none;
		padding: 0px 16px;
	}
}