@import "../assets/styles/variable";

//header---------------------------------

.header {
    &__container {
        display: flex;
        justify-content: space-between;
        height: 60px;
    }

    &__btns-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.button {
    background-color: $primaryColor;
    padding: 4px 0px;
    width: 100px;
    border-radius: 80px;
}

//
