$mainColor: #000;

$primaryColor: #F4E041;
$secondaryColor: #00BDD3;
$bgColor: #F8F8F8;

$fontSize: 16;
$fontFamily: "Nunito-Regular";

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;